@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg:white;
  --text:black;
  --first: lawngreen;
  --second: lightgreen;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: var(--text);
  overflow-x: hidden;
}
nav{
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  background: linear-gradient(135deg,rgb(128, 255, 0,0.3),rgb(128, 255, 0,0.05));
  border: 1px solid rgb(0, 128, 0,0.1);
  backdrop-filter: blur(20px);
  border-radius: 0px 0px 10px 10px;
}
nav ul{
  display: flex;
  gap: 10px;
  list-style: none;
  background: linear-gradient(135deg,rgb(0, 128, 0,0.1),rgb(0, 128, 0,0.05));
  padding: 20px;
  border-radius: 50px;
}
.loginbtn{
  display: flex;
  gap: 5px;
  align-items: center;
  background:linear-gradient(135deg,rgb(0, 128, 0,0.1),rgb(0, 128, 0,0.05));
  padding: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  border-radius:20px;
  background-color: lightgreen;
}
.logo{
  font-size: 24px;
  font-weight: 700;
}
#home,#login{
  display: flex;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homebtns{
  padding: 20px;
  display: flex;
  gap: 10px;
}
.homebtn{
  backdrop-filter: blur(10px);
  background: linear-gradient(135deg,rgb(128, 255, 0,0.3),rgb(128, 255, 0,0.05));
  padding: 15px 20px;
  position: relative;
  background-size:1px 100px ;
  border-radius: 50px;
  display: flex;
  gap:5px;
  z-index: 2;
  transition: all 200ms ease;
}
.homebtn:hover{
  scale:1.1;
}
.homebtn::before{
  position: absolute;
  content: "";
  inset: 0; 
  background: linear-gradient(15deg,rgb(128, 255, 0,0.05)rgb(128, 255, 0,0.3));
  z-index: 1;
  opacity: 0;
  transition: opacity 0.25s linear;
}
.homebtn:hover::before{
 opacity: 1;
}
#order{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  padding-top: 150px;
}
#profile{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 150px;
}
.dropdown{
  background-color: whitesmoke;
  outline: none;
  z-index:999;
}
.form{
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 25px;
  align-items: center;
  background:linear-gradient(135deg,rgb(144, 238, 144,0.3),rgb(144, 238, 144,0.5));
  border-radius: 20px;
}
.input{
  display: flex;
  background-color: white;
  align-items: center;
  padding: 10px;
  gap:5px;
  border-radius: 10px;
  color: grey;
  width: 300px;
  outline:none;
}
.itemform{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
#itemImage{
  min-width: 10px;
}
.input input{
  outline: none;
  flex: 1;
  color:black;
}
.input textarea{
  padding:1px;
  outline:none;
  flex:1;
  color:black;
}
#upload{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding-top:50px;
}
.form button[type="submit"]{
  background-color: lightgreen;
  padding: 8px 10px;
  border-radius: 10px;
}
.profiledrop{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap:15px;
  background-color: rgb(144, 238, 144,0.2);
  backdrop-filter:blur(10px);
}
#about{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  flex-direction: column;
  gap: 20px;
}
.cards{
  display: flex;
  gap: 10px;
  padding: 20px;
}
.userimg{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
}
.card{
  padding:20px;
  display: flex;
  gap: 10px;
  border-radius:10px;
  background-color: rgb(228, 255, 228);
  flex-direction:column;
}
.cardtop{
  display: flex;
  align-items: center;
  gap:10px;
}
.creatorhead{
  transform: rotate(-90deg);
  position: relative;
  color: rgb(0 0 0 / 20%);
  background:linear-gradient(90deg,rgb(144, 238, 144,0.9),rgb(0, 0, 0,0.05));
  background-clip:text;
  font-weight: 800;
  font-size:24px;
  left: 50px;
}
.goals{
  transform: rotate(-90deg);
  position: relative;
  color: rgb(0 0 0 / 20%);
  background:linear-gradient(90deg,rgb(144, 238, 144,0.9),rgb(0, 0, 0,0.05));
  background-clip:text;
  font-weight: 800;
  font-size:24px;
  left: 65px;
}
@media (max-width:850px) {
  .goals{
    text-align: center;
    transform: rotate(0deg);
    left: 0px;
  }
  .creatorhead{
    transform: rotate(0deg);
    text-align: center;
    left:0px;
    margin: 0px;
    left: 0px;
  }
  .cards{
    gap: 20px;
    flex-direction: column;
  }
}
@media (max-width:640px){
  #order{
    padding-bottom:100px;
  }
  #about{
    padding-bottom: 100px;
  }
  #profile{
  padding:150px;
  padding-bottom: 100px;
  }
}
.mobnav{
  position: fixed;
  bottom: 0;
  background-color: rgb(144, 238, 144,0.4);
  left:0;
  right:0;
  display: flex;
  padding:10px 25px;
  z-index:999;
  backdrop-filter: blur(10px);
  align-items:center;
  justify-content:space-between;
}
.goalcard{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  padding:10px;
  gap: 10px;
  border-radius:10px;
  background-color: rgb(228, 255, 228);
}
.goalhead{
  transform: rotate(-90deg);
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
  color: rgb(0 0 0 / 30%);
  background:linear-gradient(90deg,rgb(144, 238, 144,0.9),rgb(0, 0, 0,0.05));
  background-clip:text;
}
.goalcon{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  width: min-content;
  gap:5px;
  width:200px;
}
.posts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.post{
  position:relative;
  width:250px;
  display:flex;
  gap:5px;
  border-radius: 20px;
  flex-direction: column;
  background:linear-gradient(135deg,rgb(144, 238, 144,0.4),rgb(0, 0, 0,0.05));
}
.post-image{
  margin: auto;
  border-radius: 20px;
  height: 200px;
  width: 250px;
  margin-bottom:10px;
}
.logimage{
  height:150px;
  width:150px;
  border-radius: 50%;
}
.verifybtn{
  background-color:lightgreen;
  border-radius:20px 20px 20px 0px;
  display:flex;
  color:black;
  padding:10px;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.itembtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 4px 10px;
}
.atcbtn{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5px;
  background-color: rgba(144, 238, 144, 0.4);
  margin:auto;
  margin-bottom: 10px;
  padding:5px 10px;
  border-radius:10px;
  font-size: 18px;
}
.followbtn{
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
  background-color: rgb(144, 238, 144,0.4);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
}
#footer{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20dvh;
  background: linear-gradient(135deg,rgb(128, 255, 0,0.3),rgb(128, 255, 0,0.05));
  border: 1px solid rgb(0, 128, 0,0.1);
  margin-bottom: -25px;
}
#cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top:60px;
}
@media (max-width:640px){
  .followbtn{
    bottom:80px;
  }
  #footer{
    height: 30dvh;
    padding-bottom: 60px;
  }
}
.dialog{
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border-radius:5px;
  padding:20px;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
}
.dialogitem{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.loadsrc {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(135deg, #32055C, #BE326C);
  background-clip: text;
  color: transparent;
}

.loadcon {
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  gap: 10px;
  background: linear-gradient(135deg, green, lightgreen);
  background-clip: text;
  color: transparent;
}

.vehicle {
  font-weight: 600;
}

.communicate {
  font-weight: 600;
}

.veh {
  font-weight: 600;
}

.nicate {
  font-weight: 600;
}

.icle {
  font-weight: 600;
  animation: stroke 2.5s;
}

.commu {
  font-weight: 600;
  animation: stroke 2.5s;
}

.plus {
  font-weight: 600;
  animation: stroke 2.5s;
}

@keyframes stroke {
  100% {
      font-size: 1.6rem;
      color: white;
      -webkit-text-stroke-width: 2.5px;
      -webkit-text-stroke-color: transparent;
  }
}
.followitem{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  gap:6px;
  width:100%;
}
.followitems{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.homecount{
  display: flex;
  gap: 15px;
  font-size:18px;
  padding-top:20px;
}
.homebg{
  position: absolute;
  z-index:-2;
  left: 0;
  opacity:0.7;
  top:0;
  bottom:0;
  height:100%;
  object-fit: fill;
  mask-image: linear-gradient(180deg,rgb(245, 245, 245,1),rgb(255, 255, 255,0));
}
.review-card{
  color:black;
  height: 200px;
  border: 2px solid lightgreen;
  border-radius:6px;
}
#video{
  display:flex;
  align-items:center;
  justify-content:center;
  min-height: 100dvh;
  gap: 40px;
  flex-direction: column;
}
.video{
  border-radius: 10px;
  height: 400px;
  width:750px;
}
@media (max-width:800px){
  .video{
    width:400px;
    height:250px;
  }
}
#footer{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20dvh;
  background: linear-gradient(135deg,rgb(128, 255, 0,0.3),rgb(128, 255, 0,0.05));
  border: 1px solid rgb(0, 128, 0,0.1);
  margin-bottom: -25px;
}
.cartContainer {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  align-items:center;
  justify-content:center;
}

.heading {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  color: #666;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cartimg{
  height: 100px;
  width:120px;
  border-radius:25px 0px 0px 25px;
}
.cartItem {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 25px 100px 100px 25px;
  display: flex;
  gap: 20px;
  padding-right:10px;
  align-items: center;
  background: linear-gradient(135deg,rgb(128, 255, 0,0.3),rgb(128, 255, 0,0.05));
  border: 1px solid rgb(0, 128, 0,0.1);
  backdrop-filter: blur(20px);
}

.cartItem h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.cartItem p {
  margin: 0;
  font-size: 1rem;
  color: #666;
  display:flex;
  align-items:center;
}

.totalPrice {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
  display:flex;
  align-items:center;
}

